* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(77, 130, 230);
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Evita desajustes */
    display: flex;
    flex-direction: column; /* Mantiene el título arriba */
    align-items: center;
}

.Boyacá {
    background-color: #3c68fa;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 24px;
}

.Boyacá h1{
    font-family: Dynalight;;
}

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    flex-grow: 1;
}

iframe {
    width: 760px; /* Tamaño para YouTube */
    height: 515px;
    max-width: 100%; /* Evita que se desborde en pantallas pequeñas */
    margin-top: 20px;
}
.data{
    width: auto;
    font-size: 25px;
    background-color: white;
    border: 0px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.data .list{

    display: flex;
    flex-direction: column
}
.lago{
    justify-content: center;
}
